.footer {
    background-color: #77B6EA;
    color: white;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #37393A;
}

.header {
    background-color: #77B6EA;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.app-name {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #37393A;
}

.nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #37393A;
}

.active {
    font-weight: bold;
    color: #D6C9C9;
}

.add-event-container {
    padding-top: 60px;
}

.event-cards-container {
    display: flex;
    flex-wrap: wrap; /* Allow event cards to wrap */
    gap: 20px; /* Set the space between event cards */
    justify-content: center;
    margin-top: 20px; /* Add space between header and event cards */
}